# =========================================================
# PostgreSQL
# =========================================================

POSTGRES_DB=dsapp
POSTGRES_USER=dsapp

# Generate with:
# openssl rand -hex 32
POSTGRES_PASSWORD=CHANGE_ME


# =========================================================
# Django
# =========================================================

# Generate with:
# openssl rand -hex 64
DJANGO_SECRET_KEY=CHANGE_ME

DJANGO_DEBUG=False

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,SERVER_IP,ds-app-01,dsapp.home.arpa

DJANGO_CSRF_TRUSTED_ORIGINS=https://dsapp.home.arpa


# =========================================================
# Deployment
# =========================================================

SERVER_IP=192.168.0.11

APP_HOSTNAME=dsapp.home.arpa
