# =========================================================
# PostgreSQL
# =========================================================

POSTGRES_DB=dsapp
POSTGRES_USER=dsapp

# Generate with:
# openssl rand -hex 32
POSTGRES_PASSWORD=CHANGE_ME


# =========================================================
# Django
# =========================================================

# Generate with:
# openssl rand -hex 64
DJANGO_SECRET_KEY=CHANGE_ME

DJANGO_DEBUG=False

# Replace SERVER_IP and APP_HOSTNAME below with the values
# used by this specific deployment.
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,SERVER_IP,APP_HOSTNAME

DJANGO_CSRF_TRUSTED_ORIGINS=https://APP_HOSTNAME


# =========================================================
# Deployment
# =========================================================

# Example: 192.168.0.59
SERVER_IP=CHANGE_ME

# Example: dsapp-test.home.arpa
APP_HOSTNAME=CHANGE_ME
