DJANGO_SECRET_KEY=REPLACE_WITH_RANDOM_SECRET
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=APP_HOSTNAME
DJANGO_CSRF_TRUSTED_ORIGINS=https://APP_HOSTNAME
DJANGO_TIME_ZONE=America/Chicago
DJANGO_STATIC_ROOT=/var/lib/dsapp/static
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=dsapp
POSTGRES_USER=dsapp
POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_PASSWORD
